<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title> My Resume </title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
<!-- ***********************  ABOUT / PROFILE  *********************** -->

<header>
    <div class="content-wrap">
    <span>
        <h1 class="name">Marina Mogers</h1>
        <h2>Job title or tagline</h2>
        <p class="description"> I'm ba bla nla blla bla bla bla bla bal bla nla blla bla bla bla bla bal friendly
            person with a high sense of responsibility. Bla Bla Bla shjeg aewsuyt oaewiuty wea;ty o;aweitfr
            'pyuawret aweopity eaowi4ty</p>
    </span>

        <span class="my-photo">
        <img width="300" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/June_odd-eyed-cat.jpg" alt="My photo">

    </span>
    </div>
</header>

<!-- ********************  PROJECTS / PORTFOLIO  ********************* -->
<section class="projects">
    <div class="content-wrap">
        <h2 class="name"> Featured Projects</h2>
        <p>View selected projects below. More information can be found at <a class="btn" href="http://christinatruong.com">christinatruong.com</a>.
        </p>

        <table style="width: 100%;" border="0">
            <tbody><tr>
                <td>
                    <figure>
                        <img width="150" class="projects-image" src="https://media.discordapp.net/attachments/899694117427220550/901414903024332830/unknown.png?width=1120&amp;height=676">
                        <figcaption class="projects-description"><b>Lesson 1</b> <br> The 1st lesson was Hello World.
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img width="150" class="projects-image" src="img2.png">
                        <figcaption class="projects-description"><b>Lesson 2</b> <br> The 2nd lesson was Java fundamentals.
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img width="150" class="projects-image" src="img3.png">
                        <figcaption class="projects-description"><b>Lesson 3</b> <br>The 3rd lesson was about syntax.
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img width="150" class="projects-image" src="img4.png">
                        <figcaption class="projects-description"><b>Lesson 4 App - My Atoi</b><br>4th lesson was about
                            arrays. HW - my Atoi
                        </figcaption>
                    </figure>
                </td>
            </tr>
            <tr>
                <td>
                    <figure>
                        <img width="150" class="projects-image" src="img5.png">
                        <figcaption class="projects-description"><b>Lesson 5</b> <br> Lecture 5.</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img width="150" class="projects-image" src="img6.png">
                        <figcaption class="projects-description"><b>Lesson 6</b> <br> Digital Clock. Composition.
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img width="150" class="projects-image" src="img7.png">
                        <figcaption class="projects-description"><b>Lesson 7</b> <br> The 7 th lesson. SpaceShip.
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img width="150" class="projects-image" src="img8.png">
                        <figcaption class="projects-description"><b>Lesson 8</b> <br> The 8th lesson. Author/Book,
                            Member?Employee, Shapes.
                        </figcaption>
                    </figure>
                </td>
            </tr>
            <tr>
                <td>
                    <figure>
                        <img width="150" class="projects-image" src="img9.png">
                        <figcaption class="projects-description"><b>Lesson 9</b> <br> The 9th lesson. Interfaces.
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img width="150" class="projects-image" src="img10.png">
                        <figcaption class="projects-description"><b>Lesson 10</b> <br> The 10th Lesson. LaunchPad/ Engine/
                            Rocket
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img width="150" class="projects-image" src="img11.png">
                        <figcaption class="projects-description"><b>Lesson 11</b> <br> The 11th lesson. My portfolio
                            website.
                        </figcaption>
                    </figure>
                </td>
                <td>&nbsp;</td>
            </tr>
            </tbody></table>
        <div class="content-wrap">
        </div></div></section>
<!-- ***********************  WORK EXPERIENCE  *********************** -->
<section class="work-experience">
    <div class="content-wrap">
        <h2>Work Experience</h2>
        <p>Optional paragraph for work experience summary. Not a part of the job details. Delete if not being used.</p>

        <!-- Copy this whole <section> block to add more jobs. -->
        <section>
            <h3>Job title</h3>
            <p>Company Name</p>
            <p>Date at job</p>
            <p>Job summary goes here. Add as many paragraphs as you need.</p>
            <p>Optional list:</p>
            <ul>
                <li>Delete this list if you don't need it.</li>
                <li>Created...</li>
                <li>Lead...</li>
                <li>Responsible for...</li>
            </ul>
        </section></div>
</section>
<!-- End of Job block. -->

<!-- ******************  EDUCATION & CERTIFICATIONS ****************** -->

<section class="education">
    <div class="content-wrap">
        <h2>Education</h2>

        <!-- Copy this whole <section> block to add more schools. -->
        <section>
            <h3>School name - City</h3>
            <p>Designation received or program name, year attended</p>
            <p>Summary or accomplishments.</p>
        </section>
        <!-- End of School block. -->
    </div>
</section>

<!-- *****************  CONTACT INFO / SOCIAL MEDIA  ***************** -->

<footer>
    <div class="content-wrap">
        <h2>Let's Keep in Touch!</h2>

        <!-- Social media and contact links. Add or remove any networks. -->
        <ul>
            <li><a href="mailto:email@example.com">email@example.com</a></li>
            <li><a href="http://yourwebsite.com" target="_blank">yourwebsite.com</a></li>
            <li><a href="#" target="_blank">LinkedIn</a></li>
            <li><a href="#" target="_blank">Facebook</a></li>
            <li><a href="https://github.com/mmogers" target="_blank">My GitHub</a></li>
        </ul>

        <div class="footer-container">
            <p class="she"> She goes Tech Java 2</p>
        </div>
    </div>&gt;
</footer>


<!--<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
    </div>
</div>-->
</body>
</html>
